.music-banner
	.music-banner-icon
	.music-banner-title-container.subscription
		.music-banner-title= i18n('content_lyrics_title')
.lyrics-container
	#chime-loading= i18n('content_lyrics_loading')
	#chime-error= i18n('content_lyrics_no_lyrics_found')
	#chime-lyrics
	#chime-source
		| #{i18n('content_lyrics_source_link')} #{''}
		a#chime-source-link(target='_blank')
		| .
