.chime-flex.chime-flex-vertical
	#loading.chime-flex-1.text-center
		span.glyphicon.glyphicon-cloud-download
	#widget.chime-flex-1.chime-flex.chime-flex-center.media.hidden
		img#track-cover.media-object(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACDUlEQVR4Xu2Yz6/BQBDHpxoEcfTjVBVx4yjEv+/EQdwa14pTE04OBO+92WSavqoXOuFp+u1JY3d29rvfmQ9r7Xa7L8rxY0EAOAAlgB6Q4x5IaIKgACgACoACoECOFQAGgUFgEBgEBnMMAfwZAgaBQWAQGAQGgcEcK6DG4Pl8ptlsRpfLxcjYarVoOBz+knSz2dB6vU78Lkn7V8S8d8YqAa7XK83ncyoUCjQej2m5XNIPVmkwGFC73TZrypjD4fCQAK+I+ZfBVQLwZlerFXU6Her1eonreJ5HQRAQn2qj0TDukHm1Ws0Ix2O2260RrlQqpYqZtopVAoi1y+UyHY9Hk0O32w3FkI06jkO+74cC8Dh2y36/p8lkQovFgqrVqhFDEzONCCoB5OSk7qMl0Gw2w/Lo9/vmVMUBnGi0zi3Loul0SpVKJXRDmphvF0BOS049+n46nW5sHRVAXMAuiTZObcxnRVA5IN4DJHnXdU3dc+OLP/V63Vhd5haLRVM+0jg1MZ/dPI9XCZDUsbmuxc6SkGxKHCDzGJ2j0cj0A/7Mwti2fUOWR2Km2bxagHgt83sUgfcEkN4RLx0phfjvgEdi/psAaRf+lHmqEviUTWjygAC4EcKNEG6EcCOk6aJZnwsKgAKgACgACmS9k2vyBwVAAVAAFAAFNF0063NBAVAAFAAFQIGsd3JN/qBA3inwDTUHcp+19ttaAAAAAElFTkSuQmCC')
		#track.media-body
			h3.media-heading.text-overflow
				span#track-title
			h4.text-overflow
				span#track-artist
	#controls.chime-flex-1.chime-flex.chime-flex-vertical.chime-flex-center.hidden
		input#range-control(type='range', min='0', value='0', max='100', step='1')
		#controls-buttons.chime-flex
			.btn-group
				button.btn.btn-default(type='button', title=i18n('pages_player_rewind'), data-command='rewind')
					span#rewind-icon.glyphicon.glyphicon-backward
				button.btn.btn-default(type='button', title=i18n('pages_player_play'), data-command='play-pause')
					span#play-icon.glyphicon
				button.btn.btn-default(type='button', title=i18n('pages_player_forward'), data-command='forward')
					span#forward-icon.glyphicon.glyphicon-forward
			.btn-group
				button.btn.btn-default(type='button', title=i18n('pages_player_shuffle'), data-command='shuffle')
					span#shuffle-icon.glyphicon.glyphicon-random.disabled
				button.btn.btn-default(type='button', title=i18n('pages_player_repeat'), data-command='repeat')
					span#repeat-icon.glyphicon.glyphicon-retweet.disabled
			#length-screen.chime-flex.chime-flex-center
				span#position-value 0:00
				| /
				span#duration-value 0:00