section
	h3
		| #{i18n('includes_options_lyrics')}:
	article
		.alert.row
			| #{i18n('includes_options_lyrics_help_desc_1')} #{''}
			span.image
				abbr= i18n('includes_options_lyrics_help_desc_2')
				image(src='/images/lyrics.png')
			| #{''} #{i18n('includes_options_lyrics_help_desc_3')}
	article
		label.form-control-static
			input(type='checkbox', name='lyrics_enabled')
			| #{i18n('includes_options_lyrics_enable')}
	article
		h4 #{i18n('includes_options_lyrics_providers')}
		.row
			ul#lyrics-providers.highlightable.editable
	article
		button.open-modal(data-id='lyrics-provider', type='button')= i18n('includes_options_lyrics_providers_add')
		span &nbsp;
		button#lyrics-clear-permissions(type='button')= i18n('includes_options_clear_permissions')

		div#lyrics-provider.overlay.hidden
			div.page
				h1= i18n('includes_options_lyrics_providers_add')
				div.close-button.close
				div.content-area
					.row
						span function &nbsp;
						input(type='text', id='lyrics-host', placeholder='hostname')
						span &nbsp; (response) {
					.row
						span /* should return string */ &nbsp;
						input(type='text', id='lyrics-body', placeholder='return response.extractText();', size=30)
					.row
						span }
				div.action-area
					div.action-area-right
						div.button-strip
							button#lyrics-button-add(type='button')= i18n('misc_add')
							button.close(type='button')= i18n('misc_close')


