section
	h3 #{i18n('includes_options_scrobbling')}:
	article
		.alert.row
			| #{i18n('includes_options_scrobbling_help_desc_1')} #{''}
			span.image
				abbr= i18n('includes_options_scrobbling_help_desc_2')
				img(src='/images/scrobbling.png')
	article#last-fm-loading.flex
		h5.flex-1= i18n('misc_loading')
	article#last-fm-profile.hidden
		#last-fm-account
		.row
			label.form-control-static
				input#input-last_fm(type='checkbox', name='scrobbling_enabled')
				= i18n('includes_options_scrobbling_enabled')
		.row
			label.form-control-static
				input#input-last_fm_now_playing(type='checkbox', name='scrobbling_now_playing')
				= i18n('includes_options_scrobbling_now_playing')
		.row
			label.form-control-static
				input(type='number', min='0.5', max='1', step='0.01', name='scrobbling_min_percent')
				= i18n('includes_options_scrobbling_min_percent')

		p
			button#last-fm-disconnect(type='button')= i18n('misc_disconnect')
	article#last-fm-not-connected.hidden
		p
			button#last-fm-connect(type='button')= i18n('misc_connect')
