section
	h3
		= i18n('includes_options_theme_header')
	article
		.alert.row
			= i18n('includes_options_theme_descr')
	article
		label.form-control-static
			input(type='checkbox', name='theme_enabled')
			| #{i18n('includes_options_theme_enabled_1')} #{''}
			span.image
				abbr= i18n('includes_options_theme_enabled_2')
				img(src='/images/theme.png')
			| #{''} #{i18n('includes_options_theme_enabled_3')}

